<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

<style>
    body {
    margin: 0;
    padding: 0;
    }

    #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }

    /* #toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
    } */
</style>


  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div id='map' style="z-index: 10;"></div>



<div id="sidebar_meeting" class="" style="z-index: 11; max-height:98vh;">

    <div id="event_list" class="m-3 text-white">
        <%= render partial: "invites/list" %>
    </div>

    <div id="event_details" class="m-3 text-white d-none">
        <%= render partial: "invites/detail" %>
    </div>
</div>

<div id="next_academy" class="d-none" style="z-index: 1;">
    <div class="n_main-elements">
        <div class="n_homepage-header">
  
            <h1 class="text-white text-bolder d-block" style="font-size: 60px;">
                Build your portfolio 
                <br/>with a 10 week Coding Bootcamp
            </h1>
            <br>  
          
            <a href="https://www.nextacademy.com/" class="btn btn-success" style="border: 2px solid white; padding: 20px; background-color: transparent;">
            <h3 style="color: white;"> Check it out at </h3>
            <div style="width: 300px; align-item: center;">
            <img src="https://www.nextacademy.com/img/nextacademy-white-logo.png" style=" width: 100%;">
            </div>
             </a>
        </div>
      </div>
  
    <div class="n_video-container">
        <video id="n_background-video" class="header-video" autoplay loop muted poster="https://www.nextacademy.com/img/video-placeholder-bg.jpg">
            <source src="https://s3-ap-southeast-1.amazonaws.com/next-academy-site-videos/video-1511348280.mp4">
        </video>
    </div>

    <div id="youtube-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-youtube">
            <div class="modal-content embed-responsive embed-responsive-16by9">
                <iframe id="yt-player" class="embed-responsive-item" data-youtube="https://www.youtube.com/embed/3qVb09Y0CZo"
                frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<script>
$('.event_list_items').on('click', () => {
    $('#event_list').addClass('d-none');
    $('#event_details').removeClass('d-none');
});

mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10', 
    <% if @invites.count != 0 %>
        center: [101.6958, 3.1466],
        zoom: 12,
    <% else %> 
        center: [101.6958, 3.1466],
        zoom: 1,
    <% end %>

});

map.on("load", () => {
    var checkout = {};
    var AUTH_TOKEN = $('meta[name=csrf-token]').attr('content');
    checkout["authenticity_token"] = AUTH_TOKEN;

    $.ajax({
        url: "/invite_event",
        method: "POST",
        dataType: "JSON",
        data: checkout,
        success: function(response){
            console.log(response[0]);
            map.addSource('invite_event', {
                type: 'geojson',
                data: response[0]
            });

            //add layer of map
            map.addLayer({
                'id': 'invite_event',
                'type': 'circle',
                'source': 'invite_event',
                'layout': {
                    'visibility': 'none'
                },
                'paint': {
                    'circle-radius': 15,
                    'circle-color': 'rgba(255,0,0,0)'
                }
            })

            //add marker for invite_event
            map.getSource('invite_event')._data.features.forEach(function(marker) {
                console.log('xxx');
                var el = document.createElement('div');
                el.className = 'marker event_marker';
                el.style.backgroundImage = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/coderbot_head-336fa35287d0221cadcbf78a70390f3a9abada5d383781b1e05753bf70320c27.gif)';
                el.style.height = "50px";
                el.style.width = "50px";

                new mapboxgl.Marker(el).setLngLat(marker.center).addTo(map);
            });
            $('#sidebar_meeting').removeClass('d-none'); //meeting's sidebar
            
        },
        error: function(error){
            console.log(error);
        }
    });
    

    map.on('mouseenter', 'invite_event', function (e) {
        map.getCanvas().style.cursor = 'pointer';
    });

    map.on('mouseleave', 'invite_event', function () {
        map.getCanvas().style.cursor = '';
    });
});

</script>


