<style>
    body {
    margin: 0;
    padding: 0;
    }

    #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
</style>

<div id='map'></div>


<div id="sidebar_map" class="d-none">
    <div id="event_list" class="m-3 text-white">
        <%= render partial: "invites/list" %>
    </div>

    <div id="event_details" class="m-3 text-white d-none">
        <%= render partial: "invites/detail" %>
    </div>
</div>



<script>
$('.event_list_items').on('click', () => {
    $('#event_list').addClass('d-none');
    $('#event_details').removeClass('d-none');
});



mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10', 
    center: [101.6958, 3.1466],
    zoom:12
});

map.on("load", () => {
    $.ajax({
        url: "/meeting_map",
        method: "POST",
        dataType: "JSON",
        success: function(response){
            console.log(response[0])
            map.addSource('Hotel', {
                type: 'geojson',
                data: response[0]
            });

            map.addLayer({
                'id': 'Hotel',
                'type': 'circle',
                'source': 'Hotel',
                'layout': {
                    'visibility': 'none'
                },
                'paint': {
                    'circle-radius': 18,
                    'circle-color': 'rgba(255,0,0,0)'
                }
            })

            map.getSource('Hotel')._data.features.forEach(function(marker) {
                //create a DOM element for the marker
                var el = document.createElement('div');
                el.className = 'marker d-none hotel_all';
                el.style.backgroundImage = 'url(https://next-academy-group-1-coder-bot.herokuapp.com/assets/hotel_icon-fa5aa9fe3ae2a15f6465af79aa852e5db02d6aed3a2cbdc46bfeaee4dcf775a4.gif)';
                el.style.height = "50px";
                el.style.width = "50px";

                //add marker to map
                // coordinates = [hotel.latitude, hotel.longtitude]
                new mapboxgl.Marker(el).setLngLat(marker.center).addTo(map);
            });
            $('#sidebar_map').removeClass('d-none');
        },
        error: function(error){
            console.log(error);
        }
    })
})

</script>
