<%# insert new background picture and logo with animation %>
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

  <div style="position: fixed; bottom: 0; width: 100%; height: 50px; z-index: 20; background-color: #343a40;">
    <div style ="padding: 10px;">
      <p class="copyright">&copy; 2019 CODERBOT TEAM @ nextacademy All Right Reserved </p>
    </diV>
  </div>

   
  <div class="carousel-inner" role="listbox" style="position: relative;"> -->
    
 <!--    <div style=" width: 100%; height: 100%; position: relative;">
      <img src="https://i.ibb.co/9h8F5Bv/welcome-page-web.png" class="welcome_full" style="width: 100%;">
      <img src="https://i.ibb.co/0Yq3b50/welcome-page-responsive.png" class="welcome_mobile" style="width: 100%;">
    </div> -->


   <!--  <div class="carousel-caption">
      <img src="https://i.ibb.co/pyjgKzJ/coderbot-logo.gif" id="coderbot_logo" >

      <h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Sign In
        </button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
        Sign Up
        </button>
      </h1>
    </div>

  </div>
</div> -->

<div>
    <div>
          <!-- Slide One - Set the background image for this slide in the line below -->
         <!--  <div style=" width: 100%; height: auto; position: relative; background-repeat: no-repeat;"> -->
        <img src="https://i.ibb.co/pQLBhhh/welcome-page-670.png" class="welcome_full mobile_view_hide" style="width: 100%;">
        <img src="https://i.ibb.co/0Yq3b50/welcome-page-responsive.png" class="welcome_mobile desk_view_hide" style="width: 100%; height: auto;">
    </div>

    <div class="carousel-caption" style="top: 28%;">
        <div class="coderbot_logo" >
            <img src="https://i.ibb.co/pyjgKzJ/coderbot-logo.gif" style="width: 80%;" id="coderbot_logo">
        </div>
              
        <h3>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Sign In
            </button>
             or 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
            Sign Up
            </button>
        </h3> 

    </div>
</div>

<footer class="py-3 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CoderBot 2019</p>
    </div>
</footer>
<%# ======================================================= %>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: 'sessions/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
          
          <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render partial: 'users/new' %>
              </div>
            </div>
          </div>
        </div>
    
      </div>
 

<script>
// When the user clicks on <div>, open the popup

  function getCoordinates(){
    getAddress = document.getElementById('user_address').value;
    mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';
    var client = new MapboxClient(mapboxgl.accessToken);
    var test = client.geocodeForward(getAddress, function(err, data, res){
      var coordinates = data.features[0].center;
      $('#user_longtitude')[0].value = coordinates[0];
      $('#user_latitude')[0].value = coordinates[1];
      $('#user_longtitude').value = coordinates[0];
      $('#user_latitude').value = coordinates[1];
      $('#user_poi')[0].value = data.features[0].id
    });
  }
    function showMap(){
        mapboxgl.accessToken = 'pk.eyJ1IjoibGltankwMTE0IiwiYSI6ImNqcmZyeGVveTFmenM0OWxwb2pheGZ3MW8ifQ.ka2dxppOoMDqiLiqzhh96Q';    
        var client = new MapboxClient(mapboxgl.accessToken);
        var address = document.getElementById('user_address').value;
        var test = client.geocodeForward(address, function(err, data, res) {
        // data is the geocoding result as parsed JSON
        // res is the http response, including: status, headers and entity properties
        var coordinates = data.features[0].center;
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: coordinates,
            zoom: 14
        });
        new mapboxgl.Marker()
            .setLngLat(coordinates)
            .addTo(map);
        });
    }
   
 // $( function() {
 //    $( "#dialog" ).dialog({
 //      autoOpen: false,
 //      show: {
 //        effect: "blind",
 //        duration: 1000
 //      },
 //      hide: {
 //        effect: "explode",
 //        duration: 1000
 //      }
 //    });
 //     $( "#dialog2" ).dialog({
 //      autoOpen: false,
 //      show: {
 //        effect: "blind",
 //        duration: 1000
 //      },
 //      hide: {
 //        effect: "explode",
 //        duration: 1000
 //      }
 //    });

 //    $( "#opener" ).on( "click", function() {
 //      $( "#dialog" ).dialog( "open" );
 //    });
 //     $( "#opener2" ).on( "click", function() {
 //      $( "#dialog2" ).dialog( "open" );
 //    });
 //  } );
$('nav').addClass('d-none');
</script>