/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* mapbox */
body { 
  margin:0; 
  padding:0; 
  margin-top: 60px;
  position:relative;
  background-color: gray !important;
}



@media (min-width: 766px) {
    .desk_view_hide {
      display: none !important;
      width: 0%!important;
  }
}


@media (max-width: 765px) {
    .mobile_view_hide {
      display: none !important;
      width: 0%!important;}
}
.mapboxgl-canvas {
  width:450px !important;
 /* robot animation */
}

#map {
  width:450px;
}
/*#image {
    height: 256px;
    width: 256px;
    background: url('https://i.ibb.co/JmRG2gV/coderbot.png') 0px 0px;
}*/

/* map page gui */
#menu {
    position: absolute !important;
    top: 33px !important;
    right: -10px;
    z-index: 3;
    width: 375px;
}

.mapboxgl-ctrl-top-right {
    width: 375px !important;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px !important;
    background-color:#343a40;
    opacity: 0.8;
}

.mapboxgl-ctrl-geocoder {
    position: relative !important;
    margin-top: 95px !important;
    max-width: 100% !important;
    width: 350px !important;
    z-index: 3;
    clear: both;
}


#sidebar_map {
    height: auto;
    max-height: 75vh;
    position: absolute;
    top: 150px;
    right: 0px;
    width: 375px;
    background-color:#343a40;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    opacity: 0.8;
    overflow-y: auto;
    clear: both;
}

#shortlist {
    overflow-y: auto;
}

.event_list_items {
    font-size: 16px !important;
}

.event_list_items:hover {
    background-color: black !important;
    text-decoration: none !important;
    font-size: 16px !important;
}

/* event show page gui */
.menu_event_pg {
    position: relative !important;
    top: 85px !important;
    z-index: 3;
    float: right;
}

#event_description {
    position: absolute;
    height: auto;
    max-height: 100vh;
    width: 300px;
    top: 0px;
    right: 0px;
    padding-top: 80px !important;
    border-bottom-left-radius: 10px !important;
    background-color:#343a40;
    opacity: 0.8;
    overflow-y: auto;
    clear: both;
    font-color: white !important;
}

.map_journey_detail {
    border: 1px solid red;
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
    top: -45px;
    width: 165px !important;
    text-align: center;
}

.exceed_range {
    background-color: red;
    color: white;
}

/* meeting page */
#sidebar_meeting {
    height: auto;
    max-height: 75vh;
    position: absolute;
    top: 0px;
    padding-top: 70px;
    right: 0px;
    width: 480px;
    background-color:#343a40;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    opacity: 0.8;
    overflow-y: auto;
    clear: both;
}



/* mapbox */
.marker {
    display: block;
    border: none;display: block;
    
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 71px;
}

.mapboxgl-popup-content {
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
}   

.carousel-item {
  height: 93%;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.button_to {
    display: inline-block;
}

#photo {
    opacity: .5;
}


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
{
    width: 600px !important;
    height: 500px !important ;
    background-color: #404040;
}

.form {
    background-color: #404040;
    color: white;
}

.hidden {
    display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  display: inline-block;
}

.title {
  color: grey;
  font-size: 18px;
}

.modal-header {
  background-color: #404040 !important;
  color: white;
}

.modal-body {
   background-color: #808080 !important;
}
/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}*/

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: inline-block;
}

button:hover, a:hover {
  opacity: 0.7;
}

.modal-body .other-links a {
  font-size: 14px !important;
}


.well {
  height: 60%;
}

.icons {
  display: flex;
  justify-content: space-between;
}

/* dancing robot */
#rubybot_container{
    position: absolute;
    bottom: 0px;
    -webkit-animation:linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 20s;
}     
@-webkit-keyframes run {
    /* 0% { left: 0;}
    50%{ left : 100%;}
    100%{ left: 0%;} */
    from {left: 0%;}
    to {left: 80%;}
}

img.rubybot{
    height: 200px;
    width: auto;
}   

input {
  width: 275px !important;
}

.carousel-caption {
  color: black !important;
  font-weight: bold;
}


.edit {
  margin-top: 80px;
  margin-left: 35px;
}

/* slider */
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }


.new_form label{
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}
.form-buttons input {
  text-align:center;
  margin-left: 15px;

/* new design for welcome page */
.welcome_full{
  display: block;
 }

.welcome_mobile{
  display: none;
 }

@media (max-width: 600px){
  .welcome_full{
   display: none;
  }

  .welcome_mobile{
   display: block;
  }
}

/*.carousel-caption {
  top: 30%; 
  margin: auto;
}*/

@media (max-width: 600px){
  .carousel-caption {
   position: absolute;
   box-sizing: border-box;
   top: 55%;
/*    margin: auto; */
   margin-right: 0;
   margin-left: 0;
   left: 0;
   width: 100%;
  }
}

@media (max-width: 600px){
  #coderbot_logo {
   width: 98%;
  }
}

.copyright {
  color: white;
  text-align: center;
  font-size: 2.2vh;
}

@media (max-width: 600px){
  .copyright {
    font-size: 1.5vh;
  }
}

/* .btn-primary {
  font-weight: bold; 
  font-size: 20px;
} */

@media (max-width: 600px){
  .btn-primary { 
    font-size: 18px;
  }

}

