/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* mapbox */
body { margin:0; padding:0; position:relative;}

@media (min-width: 992px) {
    .desk_view_hide {display: none !important;}
}


@media (max-width: 992px) {
    .mobile_view_hide {display: none !important;}
}

 /* robot animation */
#image {
    height: 256px;
    width: 256px;
    background: url('https://i.ibb.co/JmRG2gV/coderbot.png') 0px 0px;
}

/* map page gui */
#menu {
    position: relative !important;
    top: 85px !important;
    z-index: 3;
    float: right;
}

.mapboxgl-ctrl-top-right {
    width: 480px !important;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px !important;
    background-color:#343a40;
    opacity: 0.8;
}

.mapboxgl-ctrl-geocoder {
    position: relative !important;
    margin-top: 100px !important;
    max-width: 100% !important;
    width: 455px !important;
    z-index: 3;
    clear: both;
}

#sidebar_map {
    height: auto;
    max-height: 75vh;
    position: absolute;
    top: 190px;
    right: 0px;
    width: 480px;
    background-color:#343a40;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    opacity: 0.8;
    overflow-y: auto;
    clear: both;
}

#shortlist {
    overflow-y: auto;
}

.event_list_items {
    font-size: 16px !important;
}

.event_list_items:hover {
    background-color: black !important;
    text-decoration: none !important;
    font-size: 16px !important;
}

/* event show page gui */
.menu_event_pg {
    position: relative !important;
    top: 85px !important;
    z-index: 3;
    float: right;
}

#event_description {
    position: absolute;
    height: auto;
    max-height: 100vh;
    width: 480px;
    top: 0px;
    right: 0px;
    padding-top: 80px !important;
    border-bottom-left-radius: 10px !important;
    background-color:#343a40;
    opacity: 0.8;
    overflow-y: auto;
    clear: both;
    font-color: white !important;
}


/* mapbox */
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 71px;
}

.mapboxgl-popup-content {
    /* background-color: black; */
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.button_to {
    display: inline-block;
}

#photo {
    opacity: .5;
}


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable
{
    width: 600px !important;
    height: 500px !important ;
    background-color: #404040;

}

.form {
    background-color: #404040;
    color: white;
}

.hidden {
    display: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  display: inline-block;
}

.title {
  color: grey;
  font-size: 18px;
}

/*button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}*/

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: inline-block;
}

button:hover, a:hover {
  opacity: 0.7;
}


